@import "~react-image-gallery/styles/css/image-gallery.css";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  /* scroll-behavior: smooth; don't uncomment*/
}

li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Yanone Kaffeesatz", sans-serif !important;
}

button {
  outline: none !important;
}

input {
  outline: none !important;
}

.homePageBanner .swiper-button-next,
.homePageBanner .swiper-button-prev {
  display: none;
}

.homePageBanner .swiper-pagination-bullet {
  width: 30px;
  height: 5px;
  border-radius: 3px;
}

.homePageBanner .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #b91c1c;
}

.product-card-text-ellips {
  line-height: 1.2 !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-height-1 {
  line-height: 1.2 !important;
}

.header {
  background-color: #18181b;
}

.header.shrink {
  position: fixed;
  background-color: #0d0d0ed8;
}

.text-white-custom {
  color: #fff !important;
}

.active-link {
  color: #b91c1c !important;
}

.product-details-slides .image-gallery-slide {
  height: 440px;
}

.image-gallery-content.fullscreen .image-gallery-slides {
  height: 85vh;
}

.image-gallery-content.fullscreen .image-gallery-slide {
  height: 85vh;
}

.image-gallery-content.fullscreen .image-gallery-image {
  height: 100% !important;
}

.headerNavBadge:hover span {
  border-color: #b91c1c;
  color: #b91c1c;
}

.pagination-row .pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 10px;
  border-radius: 5px;
  width: max-content;
  margin: 20px auto;
}

.pagination-row .pagination .page-item {
  width: 45px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid; */
  margin: 0 4px;
  transition: all ease 100ms;
  cursor: pointer;
}

.pagination-row .pagination .page-item.disabled,
.pagination-row .pagination .page-item.disabled a {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-row .pagination .page-item.page-item__active,
.pagination-row .pagination .page-item:hover {
  border: 1px solid #18181b;
  border-radius: 5px;
  background-color: #18181beb;
}

.pagination-row .pagination .page-item .page-link.page-link__active,
.pagination-row .pagination .page-item:hover .page-link {
  color: #fff;
}

.category-list-scroll::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(128, 128, 128, 0.313);
  border-radius: 3px;
}

.category-list-scroll::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 3px;
}

::selection {
  background-color: transparent;
}

input,
textarea,
button,
select,
span,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

@media screen and (max-width: 768px) {
  .swiper-pagination {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .product-details-slides .image-gallery-slide {
    height: 350px;
  }
}

/* Abel============================================================= */
@font-face {
  font-family: "Abel";
  src: url("./assets/fonts/Abel-Regular.woff2") format("woff2"),
    url("./assets/fonts/Abel-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ================================================================= */
/* Yanone Kaffeesatz================================================ */
@font-face {
  font-family: "Yanone Kaffeesatz";
  src: url("./assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Bold.woff2")
      format("woff2"),
    url("./assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yanone Kaffeesatz";
  src: url("./assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Light.woff2")
      format("woff2"),
    url("./assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yanone Kaffeesatz";
  src: url("./assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Medium.woff2")
      format("woff2"),
    url("./assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yanone Kaffeesatz";
  src: url("./assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Regular.woff2")
      format("woff2"),
    url("./assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yanone Kaffeesatz";
  src: url("./assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-ExtraLight.woff2")
      format("woff2"),
    url("./assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-ExtraLight.woff")
      format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yanone Kaffeesatz";
  src: url("./assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-SemiBold.woff2")
      format("woff2"),
    url("./assets/fonts/YanoneKaffeesatz/YanoneKaffeesatz-SemiBold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* ================================================================= */

@tailwind base;
@tailwind components;
@tailwind utilities;
